{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance</title>
    <link rel="stylesheet" href="{% static 'home\style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://trial.chatcompose.com/static/trial/all/global/export/css/main.5b1bd1fd.css" rel="stylesheet">    
    <script async type="text/javascript" src="https://trial.chatcompose.com/static/trial/all/global/export/js/main.a7059cb5.js?user=trial_Rukitori&lang=VI" user="trial_Rukitori" lang="VI"></script>  
</head>

<body>
    <header>
        <div class="header__top">
            <ul class="header__top__left-list">
                <li class="header__top__left-item">
                    <a class="header__top__left-item-link" href="">Về chúng tôi</a>
                </li>
                <li class="header__top__left-item">
                    <a class="header__top__left-item-link" href="">Quan hệ nhà đầu tư</a>
                </li>
                <li class="header__top__left-item">
                    <a class="header__top__left-item-link" href="">Tin tức</a>
                </li>
                <li class="header__top__left-item">
                    <a class="header__top__left-item-link" href="">Tuyển dụng</a>
                </li>
            </ul>
            <div class="box">
                <form action="/search" method="get"></form>
                <input class="stext" type="text" placeholder="Từ khóa tìm kiếm">
                <a class="button" type="submit" href="#"></a>
                <i class="fa fa-search"></i>
            </div>
            <ul class="header__top__right-list">
                <li class="header__top__right-item">
                    <a class="header__top__right-item-link" href="">
                        <span class="icon"><i></i></span>
                        <span>Yêu thích</span>
                    </a>
                </li>
                <li class="header__top__right-item">
                    <a class="header__top__right-item-link" href="">
                        <span class="icon"><i></i></span>
                        <span>Hỗ trợ</span>
                    </a>
                </li>
                <li class="header__top__right-item">
                    <a class="header__top__right-item-link" href="">
                        <span class="icon"><i></i></span>
                        <span>Chi nhánh & ATM</span>
                    </a>
                </li>
                <li class="header__top__right-item">
                    <a class="header__top__right-item-link" href="">
                        <span class="icon"><i></i></span>
                        <span>VN</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__bottom">
            <ul class="header__bottom__left-list">
                <span class="header__bottom__left-item"><img src="{% static 'home\logo.svg' %}" alt=""></span>
            </ul>

            <ul class="header__bottom__between-list">
                <li class="header__bottom__between-item">
                    <a class="header__bottom__between-link header__bottom__between-link--green " href="">
                        Cá nhân
                    </a>
                </li>
                <li class="header__bottom__between-item">
                    <a class="header__bottom__between-link" href="">
                        Hộ kinh doanh
                    </a>
                </li>
                <li class="header__bottom__between-item">
                    <a class="header__bottom__between-link" href="">
                        Doanh nghiệp SME
                    </a>
                </li>
                <li class="header__bottom__between-item">
                    <a class="header__bottom__between-link" href="">
                        Doanh nghiệp lớn
                    </a>
                </li>
                <li class="header__bottom__between-item">
                    <a class="header__bottom__between-link" href="">
                        VPBank Diamond
                    </a>
                </li>
            </ul>
            <ul class="header__bottom__right-list">
                <img src="{% static 'home\image\vpbank-neo.png' %}" alt="">
            </ul>
        </div>
    </header>

    <section class="section">
        <img src="{% static 'home\image\section.jpg' %}" alt="">
    </section>


    <hr>

    <footer>
        <div class="footer__top">
            <div class="footer__top-left">
                <a class="footer__top-left-link" href="#">
                    <img src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/icon/lien-he/ico-phone.png?h=60&w=60&la=vi-VN&hash=D366C916A7ECCEB34A617DA7C30FB075"
                        alt="">
                    <span class="phone">1900545415</span>
                </a>
            </div>
            <div class="footer__top-between">
                <a class="footer__top-between-link" href="#">
                    <img src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/icon/lien-he/ico-location.png?h=60&w=60&la=vi-VN&hash=7556FE4A0ED7E3ECACDB5A3B59496062"
                        alt="">
                    <span class="atm">Chi nhánh và ATM</span>
                </a>
            </div>
            <div class="footer__top-right">
                <img src="https://www.vpbank.com.vn/-/media/vpbank-latest/6all/icon/lien-he/ico-mail.png?h=60&w=60&la=vi-VN&hash=EAC142EAA2F70BBCF6CBF2184EF6082D"
                    alt="">
                <span class="email" id="myBtn">Phản hồi</span>
            </div>
        </div>

        <div class="footer__center1">
            <ul class="footer__center1-list">
                <li class="footer__center1-item">
                    <h3>Thẻ tín dụng</h3>
                    <a href="#">VPBank MC2</a>
                    <a href="#">VPBank Step Up</a>
                    <a href="#">VPBank Lady</a>
                    <a href="#">VPBank Platinum</a>
                    <a href="#">VPBank World</a>
                </li>
                <li class="footer__center1-item">
                    <h3>Vay tín chấp</h3>
                    <a href="#">Vay tín chấp BeautyUP</a>
                    <a href="#">Vay tín chấp tiêu dùng cá nhân</a>
                </li>
                <li class="footer__center1-item">
                    <h3>Vay thế chấp tài sản</h3>
                    <a href="#">Vay mua ô tô</a>
                    <a href="#">Vay mua nhà</a>
                    <a href="#">Vay kinh doanh</a>
                </li>
                <li class="footer__center1-item">
                    <h3>Tiết kiệm</h3>
                    <a href="#">Tiết kiệm sinh lời</a>
                    <a href="#">Tiết kiệm gửi góp Easy Savings</a>
                </li>
                <li class="footer__center1-item">
                    <h3>Các sản phẩm khác</h3>
                    <a href="#">Tài khoản VP Super</a>
                    <a href="#">Tài khoản thanh toán</a>
                    <a href="#">Ngân hàng điện tử</a>
                    <a href="#">Bảo hiểm</a>
                </li>
                <li class="footer__center1-item">
                    <h3>Có thể bạn cần biết</h3>
                    <a href="#">Khuyến mại</a>
                    <a href="#">Biểu mẫu, biểu phí</a>
                    <a href="#">Câu hỏi thường gặp</a>
                    <a href="#">Công cụ tiện ích</a>
                    <a href="#">VPBank World</a>
                </li>
            </ul>
        </div>

        <div class="footer__center2">
            <div class="footer__center2-logo"><img class="image-logo" src="{% static 'home\logo.svg' %}" alt="">
            </div>

            <div class="footer__center2-address">
                <h3>Ngân hàng TMCP Việt Nam Thịnh Vượng</h3>
                <h4>Trụ sở chính: 89 Láng Hạ, Quận Đống Đa, Hà Nội</h4>
            </div>

            <div class="footer__center2-icon">
                <a href=""><img class="footer__center2-icon-fb" src="{% static 'home\image\facebook.png' %}" alt=""></a>
                <a href=""><img class="footer__center2-icon-yt" src="{% static 'home\image\youtube.png' %}" alt=""></a>
                <a href=""><img class="footer__center2-icon-zalo" src="{% static 'home\image\zalo.png' %}" alt=""></a>
            </div>

            <div class="footer__center2-app">
                <h3>VPBANK MOBILE APP</h3>
                <a class="footer__center2-app-appstore" href=""><img src="{% static 'home\image\app-store.png' %}" alt=""></a>
                <a class="footer__center2-app-ggplay" href=""><img src="{% static 'home\image\goggle-play.png' %}" alt=""></a>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-left">
                <h3>© 2020 VPBank – Bản quyền đã được bảo hộ</h3>
            </div>
            <div class="footer__bottom-right">
                <a class="footer__bottom-right1" href="">Chính sách bảo mật</a>
                <a class="footer__bottom-right2" href="">Sitemap</a>
            </div>
        </div>
    </footer>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <form action="result" class="form-feedback">
                <img src="{% static 'home/image/feedback.png' %}" alt="">
                <div class="feedback">
                    <span class="close">&times;</span>
                    <input type="text" name="review" placeholder="comment" required class="feedback-press"> <br>
                    <input type="submit" class="feedback-submit">
                </div>
            </form>
        </div>
    </div>
    
    <!-- chatbot form -->
    <form action="response">
        <input type="text" placeholder="Input the question" name="question">
        <input type="submit">
    </form>
    <h1>{{response}}</h1>

    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>